{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Planner - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Register</h1>
</div>
<div class="col-md-4">
    {{wtf.quick_form(form)}}
</div>
<br>
<div style="color: darkred; display: inline-block">
    <p>Warning: This is just a personal project, therefore do not use any real information.</p>
    <p>The owner of this website will not assume any responsibility for the protection on the information supplied.</p>
    <p>The option to renew your password is also not provided.</p>
</div>
{% endblock %}