{% extends "base.html" %}

{% block title %}Planner{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Calendar</h1>
</div>
<div class="current-month-year">
    <div class="date-change">
        <p>Month: {{ currentMonth }} {% if inTodayYearMonth %}(today){% endif %}</p>
        <a href="{{ url_for('.previous_month') }}"><div class="calendar-nav interactable">Previous month</div></a>
        <a href="{{ url_for('.next_month') }}"><div class="calendar-nav interactable">Next month</div></a>
    </div>
    <div class="date-change">
        <p>Year: {{ currentYear }} {% if inTodayYearMonth %}(today){% endif %}</p>
        <a href="{{ url_for('.previous_year') }}"><div class="calendar-nav interactable">Previous year</div></a>
        <a href="{{ url_for('.next_year') }}"><div class="calendar-nav interactable">Next year</div></a>
    </div>
</div>
<div class="date-change">
    <p>Today: {{ today }}</p>
    <a href="{{ url_for('.calendar') }}"><div class="calendar-nav interactable">Back to today</div></a>
</div>
<div class="calendar">
    <div class="days-of-the-week">*</div>
    {% for day in daysOfTheWeek %}
        <div class="days-of-the-week">{{day}}</div>
    {% endfor %}
    {% for nweek in ndays %}
        <div class="n-of-week">{{ loop.index }}</div>
        {% for nday in nweek %}
            {% if not nday %}
                <div class="empty-day">{{ nday }}</div>
            {% else %}
                <a href="{{ url_for('.schedule', year=currentYear, month=intMonth, day=nday) }}" >
                    <div class="n-of-day {% if nday == todayDay and inTodayYearMonth %}today{% endif %} interactable">{{ nday }}</div>
                </a>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
{% endblock %}