{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Planner{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
    {% if not current_user.is_authenticated %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
{% if not current_user.is_authenticated %}
<div class="intro">
    <p>This is a planner website. To use all functionalities, click the following button to log in:</p>
    <a href="{{ url_for('auth.login') }}"><div class="calendar-nav interactable">Log In</div></a>
</div>
{% else %}
<div class="intro">
    <p>To access the calendar, click the following button:</p>
    <a href="{{ url_for('plan.calendar') }}"><div class="calendar-nav interactable">Calendar</div></a>
</div>
<div class="intro">
    <p>To access today's schedule, click the following button:</p>
    <a href="{{ url_for('plan.today') }}"><div class="calendar-nav interactable">Schedule</div></a>
</div>
{% endif %}
{% endblock %}